{% extends 'base.jinja2' %}

{% block content %}

    <div class="Section Section_column Section_columnDesktop">
      <div class="wrap">
        <div class="Section-content">
          <header class="Section-header">
            <h2 class="Section-title">Популярные товары
            </h2>
          </header>
          <div class="Cards">
              {% for product in products %}
                {% if product.offer_set.all() %}
                    <div class="Card">
                        <a class="Card-picture" href="{{ url('products:product-details', product.id) }}">
                            <img src="{{  product.images.first().image.url  }}" alt="card.jpg"/>
                        </a>
                       <div class="Card-content">
                           <strong class="Card-title">
                            <a href="{{ url('products:product-details', product.id) }}">{{ product }}</a>
                           </strong>
                           <div class="Card-description">
                               <div class="Card-cost">
                                   <span class="Card-price">${{ product.offer_set.order_by("price")
                                                                .first().price }}</span>
                               </div>
                               <div class="Card-category">
                                   {% with parent = product.category.parent %}
                                       {% if parent %}{{ parent }} / {% endif %}{{ product.category }}
                                   {% endwith %}
                               </div>
                               <div class="Card-hover">
                                   <form method="post" action="{{ url('cart:cart-add', product.offer_set.order_by("price").first().id) }}">
                                       {% csrf_token %}
                                       <input class="Card-btn" type="image" src="{{ static('img/icons/card/cart.svg') }}" alt="cart.svg">
                                   </form>
                               </div>
                           </div>
                       </div>
                    </div>
                {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="Middle">
        <div class="Section">
            <div class="wrap">
                <div class="BannersHome"><a class="BannersHomeBlock" href="#">
                        <div class="BannersHomeBlock-row">
                            <div class="BannersHomeBlock-block">
                                <strong class="BannersHomeBlock-title">{{ banners[0].name }}
                                </strong>
                                <div class="BannersHomeBlock-content">from&#32;<span class="BannersHomeBlock-price">$199.00</span>
                                </div>
                            </div>
                            <div class="BannersHomeBlock-block">
                                <div class="BannersHomeBlock-img"><img src="{{ banners[0].preview.url }}" alt="{{ banners[0].preview }}" />
                                </div>
                            </div>
                        </div>
                    </a><a class="BannersHomeBlock" href="#">
                        <div class="BannersHomeBlock-row">
                            <div class="BannersHomeBlock-block">
                                <strong class="BannersHomeBlock-title">{{ banners[1].name }}
                                </strong>
                                <div class="BannersHomeBlock-content">from&#32;<span class="BannersHomeBlock-price">$210.00</span>
                                </div>
                            </div>
                            <div class="BannersHomeBlock-block">
                                <div class="BannersHomeBlock-img"><img src="{{ banners[1].preview.url }}" alt="{{ banners[1].preview }}" />
                                </div>
                            </div>
                        </div>
                    </a><a class="BannersHomeBlock" href="#">
                        <div class="BannersHomeBlock-row">
                            <div class="BannersHomeBlock-block">
                                <strong class="BannersHomeBlock-title">{{ banners[2].name }}
                                </strong>
                                <div class="BannersHomeBlock-content">from&#32;<span class="BannersHomeBlock-price">$159.00</span>
                                </div>
                            </div>
                            <div class="BannersHomeBlock-block">
                                <div class="BannersHomeBlock-img"><img src="{{ banners[2].preview.url }}" alt="{{ banners[2].preview }}" />
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
