{% extends 'base.jinja2' %}

{% block content %}
    <div class="Section Section_column Section_columnDesktop">
        <div class="wrap">
            <div class="Section-content">
                <header class="Section-header">
                    <h2 class="Section-title">Популярные товары</h2>
                </header>
                <div class="Cards">
                    {% for product in products %}
                        <div class="Card">
                            <a class="Card-picture" href="{{ url('products:product-details', product.id) }}">
                                {% if product.images.first %}
                                    <img src="{{ product.images.first.image.url }}" alt="Product Image">
                                {% else %}
                                    <p>No image available</p>
                                {% endif %}
                            </a>
                            <div class="Card-content">
                                <strong class="Card-title">
                                    <a href="{{ url('products:product-details', product.id) }}">{{ product.title }}</a>
                                </strong>
                                <div class="Card-description">
                                    <div class="Card-cost">
                                        <span class="Card-price">${{ product.avg_price }}</span>
                                    </div>
                                    <div class="Card-category">
                                        {% with parent = product.category.parent %}
                                            {% if parent %}{{ parent }} / {% endif %}{{ product.category }}
                                        {% endwith %}
                                    </div>
                                    <div class="Card-hover">
                                        <form method="post" action="{{ url('cart:cart-add', product.id) }}">
                                            {% csrf_token %}
                                            <input class="Card-btn" type="image" src="{{ static('img/icons/card/cart.svg') }}" alt="cart.svg">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="Middle">
        <div class="Section">
            <div class="wrap">
                <div class="BannersHome">
                    {% for banner in banners %}
                        <a class="BannersHomeBlock" href="#">
                            <div class="BannersHomeBlock-row">
                                <div class="BannersHomeBlock-block">
                                    <strong class="BannersHomeBlock-title">{{ banner.name }}</strong>
                                    <div class="BannersHomeBlock-content">from&#32;<span class="BannersHomeBlock-price">${{ banner.price }}</span></div>
                                </div>
                                <div class="BannersHomeBlock-block">
                                    <div class="BannersHomeBlock-img"><img src="{{ banner.preview.url }}" alt="{{ banner.preview }}"></div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
