{% extends "base.jinja2" %}
{% block content %}
<div class="Section-columnSection">
    <header class="Section-header">
        <strong class="Section-title">{% trans "Прогресс заполнения" %}
        </strong>
    </header>
    <div class="Section-columnContent">
        <div class="NavigateProfile">
            <ul class="menu menu_vt">
                <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="#step1">{% trans "Шаг 4. Подтверждение заказа" %}</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="Section-content">
    <div class="Order-block Order-block_OPEN" id="step1">
        <header class="Section-header Section-header_sm">
            <h2 class="Section-title">{% trans "Шаг 4. Подтверждение заказа" %}
            </h2>
        </header>
        <div class="Order-infoBlock">
            <div class="Order-personal">
                <div class="row">
                    <div class="row-block">
                        <div class="Order-info">
                            <div class="Order-infoType">{% trans "имя" %}:
                            </div>
                            <div class="Order-infoContent">{{ name }}
                            </div>
                        </div>
                        <div class="Order-info">
                            <div class="Order-infoType">{% trans "Телефон" %}:
                            </div>
                            <div class="Order-infoContent">{{ phone }}
                            </div>
                        </div>
                        <div class="Order-info">
                            <div class="Order-infoType">{% trans "E-mail" %}:
                            </div>
                            <div class="Order-infoContent">{{ request.user }}
                            </div>
                        </div>
                    </div>
                    <div class="row-block">
                        <div class="Order-info Order-info_delivery">
                            <div class="Order-infoType">{% trans "Тип доставки" %}:
                            </div>
                            <div class="Order-infoContent">{{ delivery_type }}
                            </div>
                        </div>
                        <div class="Order-info">
                            <div class="Order-infoType">{% trans "Город" %}:
                            </div>
                            <div class="Order-infoContent">{{ city }}
                            </div>
                        </div>
                        <div class="Order-info">
                            <div class="Order-infoType">{% trans "Адрес" %}:
                            </div>
                            <div class="Order-infoContent">{{ address }}
                            </div>
                        </div>
                        <div class="Order-info Order-info_pay">
                            <div class="Order-infoType">{% trans "Оплата" %}:
                            </div>
                            <div class="Order-infoContent"> {{ payment }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Cart Cart_order">
                {% if product %}
                {% for i in  product  %}
                <div class="Cart-product">
                    {% with first_image=i.offer.product.images.first %}
                    <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#"><img class="Cart-img" src="{{ i.offer.product.images.first().image.url }}" alt="card.jpg" /></a>
                        </div>
                        {% endwith %}
                        <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#">{{i.offer.product.name}}</a>
                            <div class="Cart-desc">{{i.offer.product.description}}
                            </div>
                        </div>
                        <div class="Cart-block Cart-block_price">
                            <div class="Cart-price">{{i.offer.price }}
                            </div>
                        </div>
                    </div>
                    <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_amount">{{ i.quantity }} {% trans "шт." %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <form class="form"  method="post">{% csrf_token %}
                    <div class="Cart-block">
                        <button class="btn btn_primary btn_lg" name="yookassa-payment" value="yookassa-payment" type="submit">{% trans "Оплатить" %}</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
        {% else %}
        <div>
            <p>{% trans "нет заказов" %}</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
