{% extends 'base.jinja2' %}

{% block content %}
    <div>
        <h2>Импорт товаров</h2>
        {% if last_import %}
            <p>Последний импорт: {{ last_import.file_name }} (Статус: {{ last_import.status }})</p>
            <p><a href="{{ url('imports:import-details', import_id=last_import.id) }}">Подробности</a></p>
        {% endif %}
        <form action="{{ url('imports:start-import') }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="importFile">Выберите файл для импорта:</label>
            <input type="file" name="importFile" accept=".csv" required>
            <button type="submit">Запустить импорт</button>
        </form>

        {% if import_logs %}
            <h3>Предыдущие импорты:</h3>
            <table>
                <thead>
                <tr>
                    <th>Имя файла</th>
                    <th>Статус</th>
                    <th>Подробности</th>
                </tr>
                </thead>
                <tbody>
                {% for log in import_logs %}
                    <tr>
                        <td>{{ log.file_name }}</td>
                        <td>{{ log.status }}</td>
                        <td><a href="{{ url('imports:import-details', pk=log.id) }}">Подробности</a></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <div>
        <p><a href="{{ url('imports:download-csv-template') }}">Скачать шаблон CSV</a></p>
    </div>
{% endblock %}
