{% extends 'base.jinja2' %}

{% block content %}
    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">{{ _('Навигация') }}</strong>
                        </header>
                        <div class="Section-columnContent">
                            <ul class="menu menu_vt">
                                <div class="NavigateProfile">
                                    <li class="menu-item"><a class="menu-link"
                                                             href="{{ url('accounts:main') }}">{{ _('Вернуться к профилю') }}</a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="Section-content">
                    <h1>{{ _('Добро пожаловать в вашу панель управления магазином') }}</h1>
                    {% if shop %}
                        <div>
                            <h2>{{ _('Детали магазина') }}:</h2>
                            <h3>{{ _('Название ') }}:{{ shop.name }}</h3>
                            <h3>{{ _('Контактная информация ') }}:{{ shop.contact_info }}</h3>
                            <h3>{{ _('Описание ') }}:{{ shop.description }}</h3>
                            <h3>{{ _('Логотип ') }}:</h3>
                            {% if shop.logo %}
                                <img src="{{ shop.logo.url }}" alt="Логотип магазина {{ shop.name }}">
                            {% else %}
                                <p>Логотип не загружен</p>
                            {% endif %}
                        </div>
                        <div>
                            <p><a href="{{ url('imports:import-page') }}">{{ _('Перейти на страницу импорта') }}</a>
                            </p>
                        </div>
                        <div class="Card-content">
                            <h2>{{ _('Продукты') }}:</h2>
                            {% if products %}
                                <ol>
                                    {% for product in products %}
                                        <li>
                                            <a href="{{ url('products:product-details', product.id) }}">{{ product.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ol>
                            {% else %}
                                {{ _('У вас пока нет продуктов') }}
                            {% endif %}
                        </div>
                        <div>
                            <h2>{{ _('Предложения') }}:</h2>
                            {% if offers %}
                                <table>
                                    <thead>
                                    <tr>
                                        <th>{{ _('Товар') }}</th>
                                        <th>Цена</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for offer in offers %}
                                        <tr>
                                            <td>
                                                <a href="{{ url('products:product-details', offer.product.id) }}">{{ offer.product.name }}</a>
                                            </td>
                                            <td>{{ offer.price }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                {{ _('У вас пока нет предложений') }}
                            {% endif %}
                        </div>
                        <div>
                            <h2>{{ _('Импорты') }}:</h2>
                            {% if imports %}
                                <ol>
                                    {% for import_log in imports %}
                                        <table>
                                            <thead>
                                            <tr>
                                                <th>{{ _('ID импорта') }}</th>
                                                <th>{{ _('Имя файла') }}</th>
                                                <th>{{ _('Статус') }}</th>
                                                <th>{{ _('Временная метка') }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{ import_log.id }}</td>
                                                <td>{{ import_log.file_name }}</td>
                                                <td>{{ import_log.status }}</td>
                                                <td>{{ import_log.timestamp }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    {% endfor %}
                                </ol>
                            {% else %}
                                {{ _('У вас пока нет импортов') }}
                                <p><a href="{{ url('imports:import-page') }}">{{ _('Перейти на страницу импорта') }}</a>
                            </p>
                            {% endif %}
                        </div>
                        <p><a href="{{ url('shops:shop_remove') }}">{{ _('Закрыть магазин') }}</a></p>
                    {% else %}
                        <p><a href="{{ url('shop:shop_create') }}">{{ _('Открыть магазин') }}</a></p>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
