{% extends 'base.jinja2' %}

{% block content %}
    <div class="wrapper">
        <div class="header">
            <h3 class="sign-in">{{ _('Вход') }}</h3>
        </div>
        <div class="clear"></div>
        <form method="post">
            {% csrf_token %}
            <div>
                <input class="user-input" type="text" name="email" id="name" placeholder="email"/>
            </div>
            <div>

                <input type="password" name="password" id="name" placeholder="*********"/>
            </div>
            <div>
                <input type="submit" value={{ _("Войти") }}/>
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}

            </div>
            <a class="forgot-label" href={{ url("user:password_reset") }}>{{ _('Забыли пароль?') }}</a>
            <a class="registr" href="register.jinja2">
                {{ _('Регистрация') }}
            </a>
        </form>

    </div>
{% endblock %}
