{% blocktrans %}
Пожалуйста, перейдите на следующую страницу и выберите новый пароль:
{% endblocktrans %}
{% block reset_link %}
    {{ protocol }}://{{ domain }}{{ url('user:reset_password_confirm', uidb64=uid, token=token) }}
{% endblock %}
{% blocktrans %}
Ваше имя пользователя, на случай если вы его забыли: {{ user.get_username }}
Спасибо за использование нашего сайта!
{% endblocktrans %}
