Please go to the following page and choose a new password:
{% block reset_link %}
    {{ protocol }}://{{ domain }}{{ url('user:reset_password_confirm', uidb64=uid, token=token) }}
{% endblock %}
Your username, in case you’ve forgotten: {{ user.get_username }}
Thanks for using our site!
